 body {
    color: black;
    animation: colorAnimation 5s infinite alternate;
}
  
@keyframes colorAnimation {
  0% {
    background-color: khaki;
  }
  20% {
    background-color: palegreen;
  }
  40% {
    background-color: black;
  }
  60%{
    background-color: indianred;
  }
  80% {
    background-color: plum;
  }

  100% {
    background-color: salmon;
  }
}